/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

.template {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto
}

.home2 {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  font-size: 3.7rem;
  text-align: center;
  letter-spacing: 10px;
  background-color: #EBECF0;
  color: #444444;
}

.home-text{
  width: 10em;
  margin: 3.6em;
}

/* .about2 {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 2.5em;
  font-size: 3em;
  background-color: orange;
} */

/* .about-block2,
.about-block22 {
  width: 33em;
  height: 15em;
  border-radius: 8px;
  border: 1px solid #6B778C;
  background-color: white;
} */

/* .about-text-block22 {
  margin-left: 25px;
  margin-top: 20px;
  width: 750px;
  height: 500px;
} */

.about2,
.experiences2,
.projects,
.leadership {
  margin: 5em 0 0 2em;
  font-size: 3em;
  width: 100%;
}

.about-block2,
.about-block22 {
  margin: 2em 0 0 0 ;
  font-size: 0.6em;
  width: 29em;
  height: 15em;
  border-radius: 8px;
  line-height: 40px;
  letter-spacing: 3px;
  border: 1px solid #6B778C;
}

.about-block22 {
  margin: 1em 0 0 20em;
}

.about-text-block2 {
  margin: 0.6em auto;
  width: 90%;
}

.experience-block2 {
  display: flex;
  margin: 1em 0 0 0.5em;
  width: 90%;
}

.experience-timeline2 {
  transform: translate(-7.5em, -5em);
  position: absolute;
  align-self: center;
  width: 20%;
  height: 200px;
  font-size: 21px;
}

.experience-overview2 {
  align-self: center;
  margin-left: 3%;
  width: 25%;
  height: 200px;
}

.experience-overview-title2 {
  width: 70%;
  height: 100%;
  font-size: 32px;
  color: #7DBA36;
}

.experience-description2 {
  margin-left: 5%;
  width: 55%;
  border: 1px solid #6B778C;
  border-radius: 8px;
  font-size: 21px;
  line-height: 35px;
  letter-spacing: 1px;
}

.company-box2 {
  width: 9em;
  margin-top: 6%;
  border: 1px solid #6B778C;
  font-size: 26px;
  color: black;
}

